<div class="container-fluid">
  <div class="container ">
    <!-- header start -->
    <header>
      <app-navigation></app-navigation>
    </header>
    <!-- header end -->
    <!-- article start -->
    <article class="container body-content">
      <div class="row">
        <div class="col-sm-12 ">
          <router-outlet></router-outlet>
        </div>
      </div>
    </article>
    <!-- article End -->
    <!-- Footer -->
    <footer class=" page-footer  font-small blue-grey lighten-5">
      <app-footer></app-footer>
    </footer>
    <!-- Footer -->
  </div>
</div>